body {
	background: linear-gradient(-45deg,#eeffb1, #ddf87a,#a0c228);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
    /* border: solid black 1px; */
    margin-top: 40px;
}
hr{
    border-top: 1px solid black;
}

.fontCreateHotspot {
    font-family: 'Arial';
    font-weight: normal;
    font-size: 20px;
    text-align: center;
   
  
    /* border: solid black 1px; */
}

/* .input {
margin:auto;
  width: 10%;
  padding: 2px;
} */


#createhotspot-button {
    display: block;
    margin: auto;
}

.smallFont
{
    margin-left: 27em;
}

#hotspotDiv{
    background-color:rgb(190, 190, 190);
    text-align: center;
    width: 30%;
    margin:auto;
    padding: 1%;
    box-shadow: 0 20px 20px 0 rgb(0 0 0 / 30%);
}