body {
    background-color: lightgray;
}

h1 {
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
    /* border: solid black 1px; */
    margin-top: 40px;
}

.fontVenue {
    font-family: 'Arial';
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    margin-left: 20em;
  
    /* border: solid black 1px; */
}

.input {
    margin-left: 2em;
  width: 10%;
  padding: 2px;
}

#submit-button {
    display: block;
    margin: auto;
}

.smallFont
{
    margin-left: 30em;
}