body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
}

.input1 {
    display: block;
    margin-left: 16.25%;

}

.address-input {
    width: 30%;
}

.input2 {
    margin-top: 1%;
    margin-left: 16.25%;
    display: block;
}

button {
    margin-left: 16.25%;
}

section {
    margin: auto;
    margin-top: 1%;
    width: 850px;
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 2px solid black;
}

table {
    border: 3px solid darkgray;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

th {
    border: 3px solid darkgray;
    border-collapse: collapse;
}

td {
    border: 3px solid darkgray;
    border-collapse: collapse;
    text-align: centre;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    padding: 1%;
}